@model Databaze_lab_2.Transport

@{
    ViewData["Title"] = "Інформація";
}

<h1>Інформація</h1>

<div>
    <h4>Транспорт</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransportId">Редагувати</a> |
    <a asp-action="Index">Назад до таблиці</a>
</div>
