@model Databaze_lab_2.Country

@{
    ViewData["Title"] = "Інформація";
}

<h1>Інформація</h1>

<div>
    <h4>Країна</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CountryId">Редагувати</a> |
    <a asp-action="Index">Назад до таблиці</a>
</div>
