@{
    ViewData["Title"] = "Меню";
}

<div class="text-center">
    <h1 class="display-4">Меню</h1>
</div>

<form method="get" asp-controller="Cities" asp-action="Index">
    <p align="center">
        <input type="submit" class="btn btn-outline-secondary btn-lg" style="width:200px" value="Міста" />
    </p>
</form>

<form method="get" asp-controller="Countries" asp-action="Index">
    <p align="center">
        <input type="submit" class="btn btn-outline-secondary btn-lg" style="width:200px" value="Країни" />
    </p>
</form>

<form method="get" asp-controller="Hotels" asp-action="Index">
    <p align="center">
        <input type="submit" class="btn btn-outline-secondary btn-lg" style="width:200px" value="Готелі" />
    </p>
</form>

<form method="get" asp-controller="Stages" asp-action="Index">
    <p align="center">
        <input type="submit" class="btn btn-outline-secondary btn-lg" style="width:200px" value="Етапи" />
    </p>
</form>

<form method="get" asp-controller="Tourists" asp-action="Index">
    <p align="center">
        <input type="submit" class="btn btn-outline-secondary btn-lg" style="width:200px" value="Туристи" />
    </p>
</form>

<form method="get" asp-controller="Tours" asp-action="Index">
    <p align="center">
        <input type="submit" class="btn btn-outline-secondary btn-lg" style="width:200px" value="Тури" />
    </p>
</form>

<form method="get" asp-controller="Transports" asp-action="Index">
    <p align="center">
        <input type="submit" class="btn btn-outline-secondary btn-lg" style="width:200px" value="Транспорт" />
    </p>
</form>

<form method="get" asp-controller="Vouchers" asp-action="Index">
    <p align="center">
        <input type="submit" class="btn btn-outline-secondary btn-lg" style="width:200px" value="Ваучери" />
    </p>
</form>